Scrapy==2.7.1
scrapyd==1.3.0
itemadapter==0.6.0
redis==4.3.3  
environs==9.5.0
langid==1.1.6  
arrow==1.2.2 
beautifulsoup4==4.11.1
zhconv==1.4.3
httpx==0.23.0 
selenium==4.3.0  
faker==13.14.0
aiohttp==3.8.1
ujson==5.2.0
requests==2.27.1
PyYAML==6.0
typer==0.4.1
orjson==3.6.7 
pyOpenSSL==22.0.0
jinja2==3.0.3